<a href="https://colab.research.google.com/github/ByungHyun11/Assignment/blob/master/ByungHyun_0427.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

data = {'Name': ['Tom', 'Nick', 'Jane', 'Jack'], 
        'Age': [20, 21, 19, 18]}

df = pd.DataFrame(data)

In [2]:
print(df)

   Name  Age
0   Tom   20
1  Nick   21
2  Jane   19
3  Jack   18

In [13]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
import pandas as pd

df = pd.read_csv('/content/gdrive/My Drive/TopSellingAlbums.csv')

In [15]:
df

            Artist                            Album  ...  Soundtrack Rating
0  Michael Jackson                         Thriller  ...         NaN   10.0
1            AC/DC                    Back in Black  ...         NaN    9.5
2       Pink Floyd        The Dark Side of the Moon  ...         NaN    9.0
3  Whitney Houston                    The Bodyguard  ...           Y    8.5
4        Meat Loaf                  Bat Out of Hell  ...         NaN    8.0
5           Eagles  Their Greatest Hits (1971-1975)  ...         NaN    7.5
6         Bee Gees             Saturday Night Fever  ...           Y    7.0
7    Fleetwood Mac                          Rumours  ...         NaN    6.5

[8 rows x 10 columns]

In [17]:
df['Album']

0                           Thriller
1                      Back in Black
2          The Dark Side of the Moon
3                      The Bodyguard
4                    Bat Out of Hell
5    Their Greatest Hits (1971-1975)
6               Saturday Night Fever
7                            Rumours
Name: Album, dtype: object

In [0]:
x=df[['Artist']]

In [22]:
x

            Artist
0  Michael Jackson
1            AC/DC
2       Pink Floyd
3  Whitney Houston
4        Meat Loaf
5           Eagles
6         Bee Gees
7    Fleetwood Mac

In [23]:
type(x)

pandas.core.frame.DataFrame

In [0]:
MJ= x.iloc[0,0]

In [28]:
print(MJ)

Michael Jackson

In [0]:
y=df[['Artist','Album','Released']]

In [31]:
y

            Artist                            Album  Released
0  Michael Jackson                         Thriller      1982
1            AC/DC                    Back in Black      1980
2       Pink Floyd        The Dark Side of the Moon      1973
3  Whitney Houston                    The Bodyguard      1992
4        Meat Loaf                  Bat Out of Hell      1977
5           Eagles  Their Greatest Hits (1971-1975)      1976
6         Bee Gees             Saturday Night Fever      1977
7    Fleetwood Mac                          Rumours      1977

In [32]:
y.iloc[0,1]

'Thriller'

In [33]:
y.iloc[0,'Artist']

ValueError: ignored

In [34]:
y.loc[0,'Artist']

'Michael Jackson'

In [35]:
y.loc[0:2,'Album']

0                     Thriller
1                Back in Black
2    The Dark Side of the Moon
Name: Album, dtype: object

In [36]:
df

            Artist                            Album  ...  Soundtrack Rating
0  Michael Jackson                         Thriller  ...         NaN   10.0
1            AC/DC                    Back in Black  ...         NaN    9.5
2       Pink Floyd        The Dark Side of the Moon  ...         NaN    9.0
3  Whitney Houston                    The Bodyguard  ...           Y    8.5
4        Meat Loaf                  Bat Out of Hell  ...         NaN    8.0
5           Eagles  Their Greatest Hits (1971-1975)  ...         NaN    7.5
6         Bee Gees             Saturday Night Fever  ...           Y    7.0
7    Fleetwood Mac                          Rumours  ...         NaN    6.5

[8 rows x 10 columns]

In [37]:
df.iloc[0:3,0:4]

            Artist                      Album  Released   Length
0  Michael Jackson                   Thriller      1982  0:42:19
1            AC/DC              Back in Black      1980  0:42:11
2       Pink Floyd  The Dark Side of the Moon      1973  0:42:49

In [0]:
small_data=df.loc[0:3,'Artist':'Length']

In [39]:
small_data

            Artist                      Album  Released   Length
0  Michael Jackson                   Thriller      1982  0:42:19
1            AC/DC              Back in Black      1980  0:42:11
2       Pink Floyd  The Dark Side of the Moon      1973  0:42:49
3  Whitney Houston              The Bodyguard      1992  0:57:44

In [40]:
small_data.iloc[0:2,0:3]

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980

In [42]:
small_data.loc[0:2,0:3]

TypeError: ignored

In [43]:
small_data.loc[0:2,'Artist':'Album']

            Artist                      Album
0  Michael Jackson                   Thriller
1            AC/DC              Back in Black
2       Pink Floyd  The Dark Side of the Moon

In [0]:
for i,j in df.iterrows():
  print(i,j)

In [45]:
C = list(df)
for i in C:
  print(df[i][0])

Michael Jackson
Thriller
1982
0:42:19
pop, rock, R&B
46.0
65
30-Nov-82
nan
10.0

In [50]:
df

            Artist                            Album  ...  Soundtrack Rating
0  Michael Jackson                         Thriller  ...         NaN   10.0
1            AC/DC                    Back in Black  ...         NaN    9.5
2       Pink Floyd        The Dark Side of the Moon  ...         NaN    9.0
3  Whitney Houston                    The Bodyguard  ...           Y    8.5
4        Meat Loaf                  Bat Out of Hell  ...         NaN    8.0
5           Eagles  Their Greatest Hits (1971-1975)  ...         NaN    7.5
6         Bee Gees             Saturday Night Fever  ...           Y    7.0
7    Fleetwood Mac                          Rumours  ...         NaN    6.5

[8 rows x 10 columns]

In [0]:
filter1 = df["Released"] >1979
filter2 = df["Music Recording Sales (millions)"] > 24

In [0]:
smalldata = df.where(filter1 & filter2)

In [66]:
smalldata

            Artist          Album  Released  ... Released.1 Soundtrack  Rating
0  Michael Jackson       Thriller    1982.0  ...  30-Nov-82        NaN    10.0
1            AC/DC  Back in Black    1980.0  ...  25-Jul-80        NaN     9.5
2              NaN            NaN       NaN  ...        NaN        NaN     NaN
3  Whitney Houston  The Bodyguard    1992.0  ...  17-Nov-92          Y     8.5
4              NaN            NaN       NaN  ...        NaN        NaN     NaN
5              NaN            NaN       NaN  ...        NaN        NaN     NaN
6              NaN            NaN       NaN  ...        NaN        NaN     NaN
7              NaN            NaN       NaN  ...        NaN        NaN     NaN

[8 rows x 10 columns]

In [67]:
smalldata["Genre"]

0    pop, rock, R&B
1         hard rock
2               NaN
3    R&B, soul, pop
4               NaN
5               NaN
6               NaN
7               NaN
Name: Genre, dtype: object